* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	background: black;
	color: white;
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	font-weight: 800;
	margin: auto;
	padding: auto;
}
header {
	background: black;
	margin: auto;
	padding: auto;
}
#top-menu {
	position: static;
	text-align: center;
	background: black;
	margin: -5% auto -5% auto;
	width: 100%;
}
#top-menu li {
	display: inline-block;
}
#top-menu a {
	display: flex;
	text-decoration: none;
	color: white;
}
#top-menu a:hover {
	color: gold;
}
#top-menu li.active a {
	border-bottom: 3px solid gold;
	color: gold;
}
main {
	text-align: center;
	margin: auto;
	padding: auto;
}
ul {
	padding: 2%;
	list-style-type: none;
	text-align: center;
}
li {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	padding: 2%;
	margin: 2%;
}
article {
	display: block;
	text-align: center;
	background-color: black;
	color: white;
	height: auto;
	width: 50%;
	border-style: groove;
	border-color: gold;
	margin: auto auto .5% auto;
	padding: .5%;
}
article p {
	text-align: center;
}
iframe {
	width: auto;
	height: auto;
	border: none;
}
.artists {
	display: block;
	text-align: center;
	margin: auto auto 2% auto;
	padding: 2%;
	width: 80%;
}
.artists p {
	display: inline-block;
	margin: 0 5% 2% 5%;
	border: single;
	border-color: gold;
}
.merch {
	text-align: center;
}
.merch section {
	padding: .2% 5%;
	display: flex;
	flex-direction: row;
}
.merch div {
	width: 75%;
	margin: auto;
}
footer {
	background: gold;
	padding: 10px 20px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: .75%; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: gold;
	color: black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: goldenrod;
}
/* Add a background color and some padding around the form */
.container {
	border-radius: 5px;
	background-color: black;
	padding: .2% 20% 5% 20%;
}

/* DRIP ANIMATION */
.section {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: lightblue;
}
div {
	width: 40%;
	height: 100vh;
    padding-left: .5rem;
    margin-left: .5rem;
    font-style: italic;
    color: #29627e;
}